@model Tuple<string, string>

@{
    ViewBag.Title = "Home Page";
}

<style type="text/css" media="screen">
    #editor {
        height: 1000px;
    }

    #title {
        font-weight: bold;
        font-size: 25px;
    }

    .resizable {
        resize: vertical;
        overflow: auto;
    }

    #saveButton {
        vertical-align: top;
    }

    .outline {
        border-radius:10px;
        border-color:black;
        border-width:1px;
        border-style:solid;
    }
    /*#col1 {
        outline:black solid 1px;
    }*/

    #resultArea {
        font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
        white-space:pre-wrap;
    }
</style>

<div ng-app="root">
    <div ng-controller="homeController" id="home" ng-cloak>
        <div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">

                <div id="editor" class="outline" ng-keypress="keypress($event)">@Model.Item1</div>
            </div>
            @if (Model.Item2 != null && Model.Item2.Length != 0) {
                <div>
                    <span id="title">@Model.Item2</span>
                    <button type="button" class="btn btn-md" id="saveButton" ng-click="savePresentation()">Save</button>
                </div>
            } else { 
                <button type="button" class="btn btn-md" id="resetButton" ng-click="resetSession()">Reset</button>
            }
            <div class="col-md-5" id="resultArea"></div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/angularcontrollers/homeController.js"></script>
    <script src="~/Scripts/ace/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/ace/src-min-noconflict/ext-language_tools.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://d3js.org/d3.v3.js"></script>
}