@model Tuple<string, string>

@{
    ViewBag.Title = "Home Page";
}

<style type="text/css" media="screen">
    #editor {
        height: 1000px;
    }

    #title {
        font-weight:bold;
        font-size:25px;
    }

    #saveButton {
        vertical-align:top;
    }
</style>

<div ng-app="root">
    <div ng-controller="homeController" id="home" ng-cloak>
        <div>
        </div>
        <div class="row">
            <div class="col-md-1 col"></div>
            <div class="col-md-10 col2">
                @if (@Model.Item2 != null && @Model.Item2.Length != 0) {
                    <div>
                        <span id="title">@Model.Item2</span>
                        <button type="button" class="btn btn-md" id="saveButton" ng-click="savePresentation()">Save</button>
                    </div>
                }
                <div id="editor" ng-keypress="keypress($event)">@Model.Item1</div>
            </div>
            <div class="col-md-1 col"></div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/angularcontrollers/homeController.js"></script>
    <script src="~/Scripts/ace/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/ace/src-min-noconflict/ext-language_tools.js" type="text/javascript" charset="utf-8"></script>

    <script>
        
</script>
    @*<script src='~/signalr/js'></script>*@
}